body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
}

#list {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: white;
  filter: drop-shadow(8px 5px 10px #000);
  margin-top: 20px;
}


#list > * {
  border-bottom: 1px solid gray;
  height: 63px;
}

#heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#heading h1 {
  margin: 10px;
}

#add {
  display: flex;
  align-items: center;
  margin: 10px;
}

#input {
  height: 40px;
  width: 100%;
  font-size: 20px;
  border: none;
  margin-left: 10px;
}

#input:placeholder-shown {
  font-style: italic;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.item * {
  width: auto;
}

.checkbox {
  margin-inline: 16px;
  border: 2px solid gray;
  width: auto;
  transform: scale(1.6);
}

.clearSect {
  display: grid;
}

.clear {
  background-color: rgba(128, 128, 128, 0.222);
  height: 100%;
  width: 100%;
  border: none;
  justify-self: center;
  font-size: 16px;
  font-weight: bold;
  color: gray;
  cursor: pointer;
}